button{
    background-color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-image: url(https://i.gifer.com/origin/7d/7d5c2e278bcc1b8113863662f952db83.gif);
}
table{
    color: white;
}
h1{
    color: white;
}