button{
    color:darkturquoise;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
   background-color: transparent;
    border: 1ch;
    font-size: x-large;
}
button{
    size: 1000px;
    
}
body{
    background-image: url(https://assets.rbl.ms/27697838/origin.gif);
}


